.white, .white a{
    color: #ffffff;
}
.responsive tr td:last-child, .responsive tr th:last-child  {
    text-align: center;
    min-width: 130px;
}

.responsive tr td:last-child a {
    border: 1px solid #03a9f4;
    padding: 3px 7px;
}

.responsive tr td:last-child a:last-child, .responsive tr td:last-child a.last__btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.responsive tr td:last-child a:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.responsive tr td i {
    font-size: 14px;
}
.thumbnail-single {
    width: 100%;
    max-width: 280px;
    text-align: center;
}
.thumbnail-single img {
    width: 100%;
    height: auto;
}
.thumbnail-single .remove_image {
    margin: 0.5em 0;
}

.responsive tr td:last-child a  {
    margin: -2px;
}
.site-index .thumbnail img {
    width: 100%;
    height: 180px;
}
.with__positions td input {
    width: 60px;
    text-align: center;
    border: none;
}
.pagination {
    margin: 1em 0;
}

.filters td input{
    width: 100%;
    text-align: left;
    border: 1px solid #bbb;
}
.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
}
.navbar-brand > img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 5px auto 0;
}
.center {
    text-align: center;
}
.icon_small {
    width: 40px;
    height: auto;
}

.btn .icon-move:hover {
    cursor: move;
}
.nav-justified li:hover {
    cursor: move;
}
.thumbnail {
    margin: 1em;
}
#_images_box ul {
    list-style: none;
}
.nav-pills.nav-justified > li {
    width: 250px;
}

ol.navigation, ol.navigation ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.navigation {
    margin: 4em 0;
}

.navigation li {
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
}

.navigation li div  {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.navigation li div span, .navigation li div a {
    display: inline-block;
    color: #1e88e5;
}

.navigation li div .actions{
    float: right;
    padding: 4px;
}

.navigation li div .actions a:first-child {
    border-right: 2px solid #1e88e5;
}

.navigation li div > div {
    width: 40%;
}

.navigation li div .center-block{
    margin-left: 50px;
    text-align: center;
    overflow: hidden;
}

.navigation li div .item_name {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

.navigation li div .actions {
    width: 95px;
    height: 30px;
}


.navigation li div .item_name, .navigation li div .center-block{
    display: inline-block;
    padding: 4px;
}

.navigation li div .actions a{
    padding-left: 10px;
}

.navigation li div .actions a > i {
    margin-top: 1px;
}

.navigation li div .actions a:hover{
    background: none;
    color: #1e88e5;
}


.navigation li.mjs-nestedSortable-branch div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.navigation li.mjs-nestedSortable-leaf div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.navigation li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.navigation li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.navigation li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.navigation li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}
.info_btn {
    margin: 0 20px;
}
.required label:after {
    content: "*";
}
.form-group .checker {
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}
.form-group{
    position: relative;
}
.form-group .help-block-error {
    position: absolute;
    bottom: -2.4em;
    left: 0;
}
.form-group .input-group-addon:hover {
    cursor: pointer;
}
.table tr td {
    position: relative;
}
.table tr.level_l td:first-child:before {
    content: "*** ";
    padding-left: 2%;
}
.table tr.level_l td:first-child:after {
    content: "----------";
    position: absolute;
    top: 26%;
    left: 1%;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

.table tr.level_l_l td:first-child:before {
    content: "*** ";
    padding-left: 9%;
}

.table tr.level_l_l td:first-child:after {
    content: "-----------";
    position: absolute;
    top: 25%;
    left: 7%;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

.table tr.level_l_l_l td:first-child:before {
    content: "--- ";
    padding-left: 12%;
}
.table .centered {
    text-align: center;
}