<section class="search">
    <div class="wrapper">
        <div class="search__box">
            <div class="search__box-items">
                <div class="find__by">
                    <span>Искать по:</span>
                    <ul>
                        <li {% if model.type != 'maker' %}class="active"{% endif %} data-type="category">типу техники</li>
                        <li {% if model.type == 'maker' %}class="active"{% endif %} data-type="maker">производителю</li>
                    </ul>
                </div>
                <!-- /.find__by -->

                {% set form = active_form_begin({
                    'action': path(url.to('/search')),
                    'method': 'get',
                    'fieldConfig': {
                        'options': {
                            'tag': false,
                        },
                    },
                }) %}

                {{ form.field(model, 'keyword', {
                    'options': {
                        'class': false
                    },
                    'template': '{input}'
                }).textInput({'placeholder': 'Введите поисковый запрос...'}).error(false).label(false)| raw }}
                {{ form.field(model, 'type', {
                    'options': {
                        'class': '',
                        'name': 'type'
                    },
                    'template': '{input}'
                }).hiddenInput({'value': model.type ?: 'category','class': 'type__input'}).label(false)| raw }}
                <i class="icon__search" title="Найти"></i>
                {{ active_form_end() }}

            </div>
        </div>
        <!-- /.search__box -->
    </div>
</section>
<!-- /.search -->