<section class="brands__widget">
    <div class="items">
        {% for item in brands %}
            <div class="item">
                <a href="{{ path('brand/show', {'alias': item.alias}) }}">
                    <img src="/userfiles/auto_brands/{{ item.image }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<!-- /.brands -->
